<a href="https://colab.research.google.com/github/Berdeguea0367/r4epi/blob/master/Database_with_Python_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
# import modules
import sqlite3

In [20]:
# Create a connection with a database
# create a new databse
conn = sqlite3.connect("practice.db") # in files created succesfully

In [21]:
# Creating the database cursor
cursor = conn.cursor()

In [4]:
# Drop the previous table to edit new one
cursor.execute("DROP TABLE movie")

OperationalError: no such table: movie

In [22]:
# Create a Table within our database
#create_sql = "CREATE TABLE movie(title, year, score)"
create_sql = """CREATE TABLE movie(movie_id INTEGER PRIMARY KEY,
  title TEXT NOT NULL,
  year INTEGER,
  score REAL NOT NULL
  )"""

In [23]:
# Call query with the cursor
cursor.execute(create_sql) # execute the specific query

In [26]:
# Verify if the table is created through Python
cursor.execute("SELECT name FROM sqlite_master")
print(cursor.fetchone())

('movie',)

In [17]:
# Drop the previous table to edit new one
cursor.execute("DROP TABLE movie")

In [27]:
# Insert data into database table
insert_sql = """ INSERT INTO movie( title, year, score)
VALUES (?, ?, ?)
"""
# note we only have three columns rather than four because we want movies_id to be automatically generated

In [28]:
# execute the query to table
cursor.execute(insert_sql,
 ("Monty Python and the Holy Grail", 1975, 8.2)
 )

In [30]:
# complete the query execution (commit)
conn.commit()

In [32]:
# view the results
display_sql = "SELECT * FROM movie"

# execute query
cursor.execute(display_sql)
print(cursor.fetchall())

[(1, 'Monty Python and the Holy Grail', 1975, 8.2)]

In [33]:
# Insert multiple rows of data using lists
new_movies = [
    ("Monty Python Live at the Hollywood Bowl", 1982, 7.9),
    ("Monty Python's The Meaning of Life", 1983, 7.5),
    ("Monty Python's Life of Brian", 1979, 8.0)
]

In [34]:
# Insert list into dataframe
insert_sql = "INSERT INTO movie(title, year, score) VALUES(?,?,?)"
cursor.executemany(insert_sql, new_movies) # execute query and list into movies

In [35]:
# Display query
display_sql = "SELECT * FROM movie"
cursor.execute(display_sql)
print(cursor.fetchall())

[(1, 'Monty Python and the Holy Grail', 1975, 8.2), (2, 'Monty Python Live at the Hollywood Bowl', 1982, 7.9), (3, "Monty Python's The Meaning of Life", 1983, 7.5), (4, "Monty Python's Life of Brian", 1979, 8.0)]

In [37]:
# organize the displayed query
# using a loop
for data in cursor.execute(display_sql):
  print(data)

(1, 'Monty Python and the Holy Grail', 1975, 8.2)
(2, 'Monty Python Live at the Hollywood Bowl', 1982, 7.9)
(3, "Monty Python's The Meaning of Life", 1983, 7.5)
(4, "Monty Python's Life of Brian", 1979, 8.0)

In [38]:
# commit the inserted data into the table
conn.commit()

In [39]:
# close the cursor
cursor.close()

In [40]:
# close the connection
conn.close()

13.3 Data from SQLite to Pandas Data Frame

In [41]:
# import necessary modules
import sqlite3
import pandas as pd

In [42]:
# Create a connection to the database (exisitng/new)
# existing database (practice.db)
conn = sqlite3.connect("practice.db")

In [43]:
# Write a display query

# we want to display everything (*) from our table (movie)
display_sql = "SELECT * FROM movie"

In [44]:
# Extract data from database to Pandas data frame
data_frame = pd.read_sql_query(display_sql, conn)

In [45]:
# display result
data_frame

   movie_id                                    title  year  score
0         1          Monty Python and the Holy Grail  1975    8.2
1         2  Monty Python Live at the Hollywood Bowl  1982    7.9
2         3       Monty Python's The Meaning of Life  1983    7.5
3         4             Monty Python's Life of Brian  1979    8.0

In [46]:
# close the connection
conn.close()